body {
    font-size: 16px;
    color: black;
    background-color: white;
}

  /** HEADER **/
  #header-nav {
    background-color: #999999;
    border: 3px solid black;
    border-radius: 0;
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand h1 { /* Food LLC */
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-brand a:hover, .navbar-brand a:focus { /* Turn underlining off */
    text-decoration: none;
  }

  #nav-list {
    text-align: center;
    border: 2px solid black;
    margin-top: 0;
    margin-bottom: 0;
  }
  #nav-list a {
    color: black;
    border: 2px solid black;
    text-align: center;
  }

  #nav-list a span {
    font-size: 1.8em;
  }

  #nav-list a:hover {
    background: #E7E7E7;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid black;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

  #title h2{
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
  }

  /* End Header */

  /* Home Tiles */

  #chicken-tile, #beef-tile, #sushi-tile {
    height: 250px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:  #999999;
    position: relative;
    overflow:hidden;
  }
  #chicken-tile span, #beef-tile span, #sushi-tile span{
    padding-top: auto;
  }
  #chicken-tile p, #beef-tile p, #sushi-tile p {
    text-align: left;
    padding: 10px;
  }
  #chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
    box-shadow: 0 1px 5px 1px #999999;
  }

  /********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Food LLC */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #chicken-tile, #beef-tile, #sushi-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
  #home-tiles {
    padding-top: auto;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #chicken-tile, #beef-tile, #sushi-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}

